main.dashboard-content .pregnancy-window {
    min-width: 100%;
    padding: 0;
}

.pregnancy-window-headder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #355E3B;
    font-size: 16px;
    font-weight: bold;
    min-width: 100%;
    padding: 20px 30px 0 30px;
    color: #355E3B;
}

.pregnancy-window-headder p {
    border-right: 2px solid #355E3B ;
    text-align: center;
}

.pregnancy-window-headder p:last-child {
    border: none;
}

.pregnancy-window-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    overflow: auto;
    max-height: 630px;
    border-radius: 10px ;
}

.pregnancy-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 3px solid #7a9677;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(201, 201, 201, 0.17);
    position: relative;
}

.pregnancy-row::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(145deg, rgba(129, 199, 132, 0.149), rgba(204, 220, 57, 0.149));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.pregnancy-row:hover::before {
    opacity: 1;
}

.pregnancy-row:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(46, 61, 41, 0.15);
}

.pregnancy-row img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}