.subscription-content {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.subscription-box {
    display: flex;
    flex-direction: column;
    background: #eaffe4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.496);
    border: 1px solid transparent;
    color: #333333;
    text-align: center;
    width: 300px;
}

.subscription-box-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.subscription-box-header h2 {
    padding: 20px;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.subscription-dividends {
    padding-inline: 20px;
}

.styled-table thead th{
    display: block;
    margin-top: 15px;
    padding: 20px 0;
}

.styled-table tbody {
    display: block;
    padding: 30px 0;
}

.styled-table tbody tr td{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.subscription-price {
    height: 20%;
    padding-inline: 20px;
    text-align: center;
    font-size: 16px;
}

.subscription-price p:nth-child(1),
.subscription-price p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 2px;
}

.subscription-price p:nth-child(2),
.subscription-price p:nth-child(4) {
    font-size: 12px;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 10px;
}

.subscription-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.subscription-form:last-child {
    margin-top: auto;
}

.subscription-form label {
    font-size: 14px;
    margin-bottom: 5px;
}

.subscription-form select {
    height: 40px;
    background-color: #f8f9fa;
    box-shadow: 0 0 16px 2px rgba(217, 217, 217, 0.1);
    border: none;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.subscription-buy-button {
    color: #ffffff;
    margin-top: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    text-align: center;
    padding: 0 10px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4px;
    background-color: rgba(13, 13, 26, 0.42);
    font-weight: 300;
    text-decoration: none;
    z-index: 2;
}

.subscription-buy-button strong {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscription-buy-button svg {
    width: 18px;
    height: 18px;
}

.subscription-buy-button:hover {
    background: rgb(32, 33, 31);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    transition: background-color 0.9s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.current-sub-label {
    margin-top: 16px;
}

.current-sub-label p {
    margin: 0;
}

.hobby {
    border: 2px solid rgb(127, 176, 106);
    box-shadow: 0 0 12px 1px rgba(63, 204, 38, 0.278);
    border-radius: 8px;
}

.large {
    border: 2px solid rgb(255, 194, 88);
    box-shadow: 0 0 12px 1px rgba(252, 198, 2, 0.342);
    border-radius: 8px;
}

.industrial {
    border: 2px solid rgb(176, 106, 106);
    box-shadow: 0 0 13px 1px rgba(241, 15, 15, 0.4);
    border-radius: 8px;
}

.styled-table.hobby-dividends thead th {
    color: #1f6f3b;
    border-bottom: 1px solid rgba(96, 153, 88, 0.7);
}

.styled-table.large-dividends thead th {
    color: rgb(182, 132, 39);
    border-bottom: 1px solid rgba(255, 203, 90, 0.7);
}

.styled-table.industrial-dividends thead th {
    color: rgb(214, 52, 52);
    border-bottom: 1px solid rgba(241, 15, 15, 0.7);
}

.large-label {
    color: #6f5e1f
}

.industrial-label {
    color: #6f1f1f
}

.industrial-label + select:focus {
    outline: 2px solid #d18f8f;
}

.large-label + select:focus {
    outline: 2px solid #d1bd8f;
}