* {
    margin: 0;
    padding: 0;
}

.family-tree-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 20px;
    overflow: hidden;
    font-size: 13px;
}

.form-line {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 1.5rem;
    margin-bottom: -30px;
}

.form-line p {
    margin-left: 35px;
    color: #1f6f3b;
    font-size: 0.7rem;
}

.tree {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree ul {
    padding-top: 2rem;
    position: relative;
    transition: all 0.5s;
}

.tree li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1.8rem 0.6rem 0 0.6rem;
    transition: all 0.5s;
}

.tree li img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    z-index: 1;
}

.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 1.7rem;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 2rem;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.5s;
}

.tree li a:hover,
.tree li div:has(a:hover)+ul li a {
    background: #c8f8c8;
    color: #000;
    border: 1px solid #99b494;
}

.tree li div:has(a:hover)+ul li::after,
.tree li div:has(a:hover)+ul li::before,
.tree li div:has(a:hover)+ul::before,
.tree li div:has(a:hover)+ul ul::before {
    border-color: #99b494;
}

.small-grey-text {
    font-size: 11px;
    color: grey;
}