<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Rabbits</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito:wght@400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tree.css">
    <link rel="icon" href="/images/logo.png">
</head>

<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="brand">
                <img src="/images/logo.png" alt="MyRabbitry logo" class="logo">
                <span class="brand-name">MyRabbitry</span>
            </div>
            <ul class="nav-list">
                <li><a href="/dashboard">Profile</a></li>
                <li><a href="/rabbits/me">My Rabbits</a></li>
                <li><a href="/overview">Overview</a></li>
                <li><a href="/pregnancies">Maternity Ward</a></li>
                <li><a href="/pregnancies/details">Pregnancy Reports</a></li>
                <li><a href="/family-tree" class="active">Family Tree</a></li>
                <li><a href="/subscriptions">Subscription</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/admin/panel">Admin Panel</a></li>
                <li><a href="/logout" id="logoutBtn">Log out</a></li>
            </ul>
        </aside>
        <main class="family-tree-container">
            <form id="family-tree-form" class="form-line" th:action="@{/family-tree}" th:method="POST" th:object="${familyTreeRequest}">
                <input id="rabbit-code" name="code" type="text" placeholder="enter rabbit code" th:field="*{code}">
                <button type="submit" class="btn btn-primary"><svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#000000;} </style> <g>
                    <path class="st0" d="M312.069,53.445c-71.26-71.26-187.194-71.26-258.454,0c-71.261,71.26-71.261,187.206,0,258.466 c71.26,71.26,187.194,71.26,258.454,0S383.329,124.705,312.069,53.445z M286.694,286.536 c-57.351,57.34-150.353,57.34-207.704-0.011s-57.351-150.353,0-207.693c57.351-57.351,150.342-57.351,207.693,0 S344.045,229.174,286.694,286.536z"></path> <path class="st0" d="M101.911,112.531c-29.357,37.725-31.801,89.631-7.321,129.702c1.877,3.087,5.902,4.048,8.978,2.182 c3.065-1.888,4.037-5.903,2.16-8.978c-21.666-35.456-19.506-81.538,6.469-114.876c2.226-2.837,1.713-6.938-1.135-9.154 C108.227,109.193,104.125,109.695,101.911,112.531z"></path> <path class="st0" d="M498.544,447.722l-132.637-129.2c-7.255-7.07-18.84-6.982-26.008,0.174l-21.033,21.033 c-7.156,7.156-7.234,18.742-0.153,25.986l129.19,132.636c14.346,17.324,35.542,18.35,51.917,1.964 C516.216,483.951,515.857,462.068,498.544,447.722z"></path> </g> </g></svg>
                    search</button>
                <p>Females are on the left and males on the right</p>
            </form>

            <div class="tree">
                <ul>
                    <th:block th:fragment="treeFragment(familyTree)">
                        <li th:if="${familyTree != null}">
                            <div>
                                <img th:src="${#strings.isEmpty(familyTree.child.photoUrl) ? '/images/logo.png' : familyTree.child.photoUrl}" alt="Rabbit Picture">
                                <a href="#">
                                    <span th:text="${#strings.isEmpty(familyTree.child.name) ? 'unknown' : familyTree.child.name}">Great Grandpa</span>
                                    <span class="small-grey-text" th:text="${familyTree.child.code}">23-dg</span>
                                </a>
                            </div>

                            <ul th:if="${familyTree.father != null or familyTree.mother != null}">
                                <th:block>
                                    <th:block th:if="${familyTree.mother != null}" th:replace="::treeFragment(${familyTree.mother})"></th:block>
                                    <li th:unless="${familyTree.mother != null}">
                                        <div>
                                            <img src="/images/logo.png" alt="Rabbit Picture">
                                            <a href="#">
                                                <span>unknown</span>
                                                <span class="small-grey-text">---</span>
                                            </a>
                                        </div>
                                    </li>
                                </th:block>
                                <th:block>
                                    <th:block th:if="${familyTree.father != null}" th:replace="::treeFragment(${familyTree.father})"></th:block>
                                    <li  th:unless="${familyTree.father != null}">
                                        <div>
                                            <img src="/images/logo.png" alt="Rabbit Picture">
                                            <a href="#">
                                                <span>unknown</span>
                                                <span class="small-grey-text">---</span>
                                            </a>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                        </li>
                    </th:block>
                </ul>
            </div>
        </main>
    </div>
</body>

</html>