<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Rabbits</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito:wght@400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/maternity-ward.css">
    <link rel="icon" href="/images/logo.png">
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="brand">
                <img src="/images/logo.png" alt="MyRabbitry logo" class="logo">
                <span class="brand-name">MyRabbitry</span>
            </div>
            <ul class="nav-list">
                <li><a href="./dashboard.html">Profile</a></li>
                <li><a href="./my-rabbits.html">My Rabbits</a></li>
                <li><a href="./overview.html">Overview</a></li>
                <li><a href="./maternity-ward.html" class="active">Maternity Ward</a></li>
                <li><a href="./pregnancy-details.html">Pregnancy Reports</a></li>
                <li><a href="./family-tree.html">Family Tree</a></li>
                <li><a href="./subscription.html">Subscription</a></li>
                <li><a href="./index.html" id="logoutBtn">Log out</a></li>
            </ul>
        </aside>
        <main class="dashboard-content">
            <div class="pregnancy-window">
                <div class="pregnancy-window-headder">
                    <p style="width: 20%;">Photo</p>
                    <p style="width: 28%;">Code</p>
                    <p style="width: 28%;">Due Date</p>
                    <p style="width: 24%;">Date of Birth</p>
                </div>
                <div class="pregnancy-window-main">
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                    <div class="pregnancy-row">
                        <img src="/images/logo.png" alt="Rabbit Photo">
                        <p>29-lk</p>
                        <p>30 Feb 2026</p>
                        <p>3 Mar 2026</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>