<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Rabbits</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito:wght@400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pregnancy-details.css">
    <link rel="icon" href="/images/logo.png">
</head>

<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="brand">
                <img src="/images/logo.png" alt="MyRabbitry logo" class="logo">
                <span class="brand-name">MyRabbitry</span>
            </div>
            <ul class="nav-list">
                <li><a href="/dashboard">Profile</a></li>
                <li><a href="/my-rabbits">My Rabbits</a></li>
                <li><a href="/overview">Overview</a></li>
                <li><a href="/pregnancies">Maternity Ward</a></li>
                <li><a href="/pregnancies/details" class="active">Pregnancy Reports</a></li>
                <li><a href="/family-tree">Family Tree</a></li>
                <li><a href="/subscriptions">Subscription</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/admin/panel">Admin Panel</a></li>
                <li><a href="/logout" id="logoutBtn">Log out</a></li>
            </ul>
        </aside>
        <main class="dashboard-content">
            <div class="form-wrapper">
                <form id="pregnancy-details-form" class="header-form" th:action="@{/pregnancies/details/group}" th:method="GET" th:object="${pregnancyFilterRequest}">
                    <input id="doe-code" name="code" type="text" placeholder="enter doe code" th:field="*{mother}">
                    <input id="buck-code" name="code" type="text" placeholder="enter buck code" th:field="*{father}">
                    <label>Order</label>
                    <select id="order-criteria" name="criteria" th:field="*{sortCriteria}">
                        <option value="" selected>None</option>
                        <option value="DFD">Day of fertilization desc</option>
                        <option value="DFA">Day of fertilization acs</option>
                        <option value="BKD">Amount born kids desc</option>
                        <option value="BKA">Amount born kids acs</option>
                    </select>
                    <button type="submit" class="btn btn-primary"><svg height="20px" width="20px" version="1.1"
                            id="_x32_" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <style type="text/css">
                                    .st0 {
                                        fill: #000000;
                                    }
                                </style>
                                <g>
                                    <path class="st0"
                                        d="M312.069,53.445c-71.26-71.26-187.194-71.26-258.454,0c-71.261,71.26-71.261,187.206,0,258.466 c71.26,71.26,187.194,71.26,258.454,0S383.329,124.705,312.069,53.445z M286.694,286.536 c-57.351,57.34-150.353,57.34-207.704-0.011s-57.351-150.353,0-207.693c57.351-57.351,150.342-57.351,207.693,0 S344.045,229.174,286.694,286.536z">
                                    </path>
                                    <path class="st0"
                                        d="M101.911,112.531c-29.357,37.725-31.801,89.631-7.321,129.702c1.877,3.087,5.902,4.048,8.978,2.182 c3.065-1.888,4.037-5.903,2.16-8.978c-21.666-35.456-19.506-81.538,6.469-114.876c2.226-2.837,1.713-6.938-1.135-9.154 C108.227,109.193,104.125,109.695,101.911,112.531z">
                                    </path>
                                    <path class="st0"
                                        d="M498.544,447.722l-132.637-129.2c-7.255-7.07-18.84-6.982-26.008,0.174l-21.033,21.033 c-7.156,7.156-7.234,18.742-0.153,25.986l129.19,132.636c14.346,17.324,35.542,18.35,51.917,1.964 C516.216,483.951,515.857,462.068,498.544,447.722z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                        search</button>
                </form>
                <a th:href="@{/pregnancies/new}" class="btn btn-add-rabbit">＋ Create Pregnancy Report</a>
            </div>
            <div class="pregnancy-details-main">
                <div class="pregnancy-card" th:each="pregnancy : ${pregnancyReports}">
                    <div class="mother-personal-info">
                        <img th:src="${pregnancy.mother == null or #strings.isEmpty(pregnancy.mother.photoUrl) ? '/images/logo.png' : pregnancy.mother.photoUrl}" alt="Rabbit Photo">
                        <h2 th:text="${pregnancy.mother == null or #strings.isEmpty(pregnancy.mother.name) ? 'n/a' : pregnancy.mother.name}">Sisi</h2>
                        <p th:text="${pregnancy.mother == null ? 'n/a' : pregnancy.mother.code}">37-ko</p>
                    </div>
                    <div class="three-col">
                        <div class="column pregnancy-info">
                            <p>Date of fertilization: <span th:text="${#strings.isEmpty(pregnancy.dayOfFertilization) ? 'n/a' : #temporals.format(pregnancy.dayOfFertilization, 'dd MMM yyyy')}">16 Oct 2025</span></p>
                            <p>Earliest due date: <span th:text="${#strings.isEmpty(pregnancy.earliestDueDate) ? 'n/a' : #temporals.format(pregnancy.earliestDueDate, 'dd MMM yyyy')}">14 Nov 2025</span></p>
                            <p>Latest due date: <span th:text="${#strings.isEmpty(pregnancy.latestDueDate) ? 'n/a' : #temporals.format(pregnancy.latestDueDate, 'dd MMM yyyy')}">19 Nov 2025</span></p>
                            <p>Buck: <span th:text="${pregnancy.father == null ? 'n/a' : pregnancy.father.code}">79-nq</span></p>
                            <p>Date of birth: <span th:text="${#strings.isEmpty(pregnancy.dateOfBirth) ? 'n/a' : #temporals.format(pregnancy.dateOfBirth, 'dd MMM yyyy')}">16 Nov 2025</span></p>
                        </div>
                        <div class="column pregnancy-info">
                            <p>Amount born kids: <span th:text="${#strings.isEmpty(pregnancy.countBornKids) ? 'n/a' : pregnancy.countBornKids}">9</span></p>
                            <p>Amount weaned kids: <span th:text="${#strings.isEmpty(pregnancy.countWeanedKids) ? 'n/a' : pregnancy.countWeanedKids}">7</span></p>
                            <p>Death percentage: <span th:text="${#strings.isEmpty(pregnancy.deathPercentage) ? 'n/a' : #numbers.formatDecimal(pregnancy.deathPercentage, 1, 0) + '%'}">2</span></p>
                            <p>Total weight of live kids day 1: <span th:text="${#strings.isEmpty(pregnancy.totalWeightKidsDay1) ? 'n/a' : #numbers.formatDecimal(pregnancy.totalWeightKidsDay1, 1, 0) + 'g'}">300</span></p>
                            <p>Total weight of live kids day 20: <span th:text="${#strings.isEmpty(pregnancy.totalWeightKidsDay20) ? 'n/a' : #numbers.formatDecimal(pregnancy.totalWeightKidsDay20, 1, 0) + 'g'}">1200</span></p>
                        </div>
                        <div class="column pregnancy-info">
                            <p>Lactating yield coefficient: <span th:text="${#strings.isEmpty(pregnancy.lactatingQuantity) ? 'n/a' : pregnancy.lactatingQuantity}">3</span></p>
                            <p>Has abort: <span th:text="${pregnancy.hasAbort == true ? 'yes' : 'no'}">no</span></p>
                            <p>Is false pregnancy: <span th:text="${pregnancy.isFalsePregnancy() == true ? 'yes' : 'no'}">no</span></p>
                            <p>Cannibalism present: <span th:text="${pregnancy.isCannibalismPresent() == true ? 'yes' : 'no'}">no</span></p>
                            <p>Was pregnant: <span th:text="${pregnancy.wasPregnant == true ? 'yes' : 'no'}">yes</span></p>
                        </div>
                    </div>
                    <a class="btn profile-btn">
                        <p>Edit <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M20.8477 1.87868C19.6761 0.707109 17.7766 0.707105 16.605 1.87868L2.44744 16.0363C2.02864 16.4551 1.74317 16.9885 1.62702 17.5692L1.03995 20.5046C0.760062 21.904 1.9939 23.1379 3.39334 22.858L6.32868 22.2709C6.90945 22.1548 7.44285 21.8693 7.86165 21.4505L22.0192 7.29289C23.1908 6.12132 23.1908 4.22183 22.0192 3.05025L20.8477 1.87868ZM18.0192 3.29289C18.4098 2.90237 19.0429 2.90237 19.4335 3.29289L20.605 4.46447C20.9956 4.85499 20.9956 5.48815 20.605 5.87868L17.9334 8.55027L15.3477 5.96448L18.0192 3.29289ZM13.9334 7.3787L3.86165 17.4505C3.72205 17.5901 3.6269 17.7679 3.58818 17.9615L3.00111 20.8968L5.93645 20.3097C6.13004 20.271 6.30784 20.1759 6.44744 20.0363L16.5192 9.96448L13.9334 7.3787Z"
                                    fill="#0F0F0F"></path>
                            </g>
                        </svg></p>
                    </a>
                </div>
                <div class="empty-pregnancy-grid" th:if="${pregnancyReports.isEmpty()}">
                    <p>No pregnancy reports yet!</p>
                </div>
            </div>
        </main>
    </div>
</body>

</html>